<?xml version="1.0"?>
<!--
  ~ @author     Sashas IT Support <support@sashas.org>
  ~ @copyright  2020  Sashas IT Support Inc. (http://www.extensions.sashas.org)
  ~ @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="checkoutcart" frontName="checkoutcart">
            <module name="TheSGroup_CheckoutCart" />
        </route>
    </router>
</config>
